/* MIX */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.full-wrapper {
  height: 100vh;
  background-color: red;
}
/* /MIX */
/* MAIN */
main {
  height: calc(100% - 80px);
  display: flex;
}
aside {
  height: 100%;
  width: 300px;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.secondary-menu {
  height: 100%;
  overflow-y: hidden;
}
.secondary-menu-title {
  height: 50px;
}
.playlist {
  height: calc(100% - 50px);
  overflow-y: auto;
}
.aside-bottom {
  margin-top: auto;
}
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  background-color: black;
}
.upgrade {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
/* /MAIN */
/* FOOTER */
footer {
  height: 80px;
  width: 100%;
  background-color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* /FOOTER */
