/* MIX */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.full-wrapper {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.list-style {
  list-style: none;
}
.no-a-style {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.font-spoty-gray {
  color: #616161;
  font-weight: bold;
  font-size: 13px;
}
.font-hover-white:hover a {
  color: #fff;
}
.gray {
  color: #616161;
}
.margin-top-bottom-5 {
  margin: 5px 0;
}
.margin-left-right-15 {
  margin: 0 15px;
}
.margin-left-right-10 {
  margin: 0 10px;
}
.margin-top-bottom-20 {
  margin: 20px 0;
}
.margin-top-20-bottom-10 {
  margin: 20px 0 10px 0;
}
.margin-top-bottom-10 {
  margin: 10px 0;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
/* /MIX */
/* MAIN */
main {
  height: calc(100% - 80px);
  display: flex;
}
/* ASIDE */
aside {
  height: 100%;
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  overflow: hidden;
}
.visualizzazione-piccola {
  display: none;
}
.visualizzazione-grande {
  height: 100%;
}
.logo {
  max-width: 65%;
}
.height-30 {
  height: 30px;
  vertical-align: middle;
}
.secondary-menu {
  height: calc(100% - 210px);
  overflow-y: hidden;
}
#font-15 {
  font-size: 15px;
}
.font-45 {
  font-size: 45px;
  vertical-align: middle;
}
.playlist {
  height: calc(100% - 80px);
  overflow-y: auto;
}
.aside-bottom {
  margin-top: auto;
}
.height-14 {
  height: 14px;
  vertical-align: middle;
}
.aside-bottom p {
  display: inline-block;
}
.aside-bottom h4 {
  display: inline-block;
}
.aside-bottom-bottom {
  display: flex;
  justify-content: flex-start;
}
.cerchietto {
  border: 1px solid gray;
  border-radius: 100%;
  background-color: gray;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.cerchietto img {
  max-height: 100%;
}
/* /ASIDE */
/* MAIN CONTENT */
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  background-color: #141922;
  color: #fff;
  overflow-y: auto;
}
.upgrade {
  height: 80px;
  width: calc(100% - 300px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
}
.btn {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.btn:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.content {
  margin-top: 90px;
  padding: 0 15px;
}
.content-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.content-nav li {
  padding: 0 5px;
  text-transform: uppercase;
}
.activate::after {
  content: "";
  height: 2px;
  width: 50%;
  background-color: green;
  display: block;
  margin: auto;
}
.album {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.box {
  height: 250px;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.box:hover .selezionato{
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box p {
  color: #616161;
}
.copertina {
  width: 100%;
  height: 100%;
  background-image: url(../img/the-eminem-show.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.selezionato {
  height: 100%;
  width: 100%;
  display: none;
}
.selezionato i {
  font-size: 40px;
}
.copertina-circolare {
  border-radius: 100%;
  overflow: hidden;
}
/* /MAIN CONTENT */
/* /MAIN */
/* FOOTER */
footer {
  height: 80px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
}
.album-selezionato {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
}
.album-selezionato img {
  height: 45px;
}
.gestione-traccia {
  width: calc(100% / 3);
}
.player-superiore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 30px;
}
.player-superiore i:hover {
  font-size: 25px;
}
.icon-bigger {
  font-size: 25px;
}
.player-superiore .icon-bigger:hover {
  font-size: 35px;
}
.player-inferiore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lunghezza-traccia {
  height: 3px;
  width: 60%;
  background-color: gray;
  border-radius: 15px;
}
.momento-traccia, .livello-volume {
  height: 3px;
  width: 15%;
  background-color: lightgray;
  border-radius: 15px;
  position: relative;
}
.impostazioni {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
}
.lunghezza-volume {
  height: 3px;
  width: 15%;
  background-color: gray;
  border-radius: 15px;
}
.lunghezza-traccia:hover .momento-traccia, .lunghezza-volume:hover .livello-volume {
  background-color: green;
}
.lunghezza-traccia:hover .pallino, .lunghezza-volume:hover .pallino {
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: -10px;
}
.pallino {
  display: none;
  height: 10px;
  width: 10px;
  background-color: lightgray;
  border-radius: 100%;
}
/* /FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 764px) {
  /* ASIDE RESPONSIVE */
  aside {
    width: 50px;
    padding: 5px;
  }
  .visualizzazione-grande {
    display: none;
  }
  .visualizzazione-piccola {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* /ASIDE RESPONSIVE */
  /* MAIN CONTENT RESPONSIVE */
  .main-content {
    width: calc(100% - 50px);
  }
  .upgrade {
    width: calc(100% - 50px);
  }
  /* /MAIN CONTENT RESPONSIVE */

}
/* /RESPONSIVE */
