/* MIX */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.full-wrapper {
  height: 100vh;
  background-color: red;
}
/* /MIX */
/* MAIN */
aside {
  height: 100%;
  width: 300px;
  background-color: green;
  position: fixed;
  left: 0;
  top: 0;
}
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  background-color: black;
  position:fixed;
  top: 0;
  right: 0;
}
.upgrade {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
/* /MAIN */
/* FOOTER */
footer {
  height: 80px;
  width: 100%;
  background-color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* /FOOTER */
